#!/bin/bash
export XDG_RUNTIME_DIR=/run/user/`id -u`
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx
export AWT_TOOLKIT=XToolkit
xmodmap /home/amos/.Xmodmap
xcape -e 'Alt_L:Control_L=Right;Control_L:Alt_L=Left;Alt_L:Shift_L=Return;Control_L=Escape;Control_L:Shift_L=Return;Shift_L=Return;Hyper_L=Shift_R|Insert;Mode_switch=BackSpace;Alt_L:Mode_switch=BackSpace'
xset dpms force on
xset s off
xset b off
synclient CoastingSpeed=0 HorizTwoFingerScroll=1
pulseaudio -D
compton --inactive-opacity 0.9 -b
unclutter --timeout 1 --jitter 10 -b
fcitx
sxhkd &
#export GTK_IM_MODULE=ibus
#export XMODIFIERS=@im=ibus
#export QT_IM_MODULE=ibus
#ibus-daemon -d -x
#LC_CTYPE=zh_CN.UTF-8 emacs --daemon
