rofi.opacity: 80
rofi.kb-cancel: Escape,Control+bracketleft
rofi.kb-row-up: Control+k
rofi.kb-row-down: Control+j
rofi.kb-accept-entry: Control+m,Return,KP_Enter
rofi.parse-hosts: true

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3

!## teh URxvt stuff
URxvt.font: xft:Ubuntu Mono:size=13,xft:WenQuanYi Micro Hei Mono:pixelsize=18:minspace=true,xft:SauceCodePro NF:pixelsize=16,xft:Symbola
URxvt.lineSpace: 2
URxvt.url-launcher:          vivaldi
URxvt.url-select.launcher:   vivaldi
URxvt.matcher.button:        1
URxvt.meta8:                 false
URxvt.keysym.C-Delete:       perl:matcher:last
URxvt.keysym.M-Delete:       perl:matcher:list
URxvt.keysym.C-h:            \177
URxvt.keysym.C-comma:        \036
URxvt.keysym.C-period:       \037
URxvt.perl-lib:              /home/amos/urxvt-perls
URxvt.perl-ext-common:       default,url-select,keyboard-select,osc-xterm-clipboard
URxvt.url-select.underline:  true
URxvt.keysym.M-u:            perl:url-select:select_next
URxvt.keysym.M-s:            perl:keyboard-select:activate
URxvt.borderless:            true
URxvt*scrollBar:             false
URxvt.letterSpace:           -1
URxvt.clipboard.autocopy:    true
URxvt.scrollstyle:           plain
URxvt*scrollBar:             false
URxvt.depth:                 32
URxvt*background:            rgba:0000/0000/0200/c800
URxvt*transparent:           false
URxvt.fading:                0
URxvt.inputMethod:           fcitx
URxvt.preeditType:           OverTheSpot
URxvt*termName:              xterm-256color
URxvt*saveLines:             100000
URxvt*scrollTtyOutput:       false
URxvt*scrollWithBuffer:      true
URxvt*scrollTtyKeypress:     true
URxvt*iso14755:              False
!urxvt*matcher.pattern.1:  (/\\S+\\.pdf)\\b
!urxvt*matcher.launcher.1: zathura $1

!## teh dpi stuff
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Emacs*useXIM: true
